rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow real-time reading and writing for shops across all devices
    match /shops/{shopId} {
      allow read, write: if true;
    }

    // Allow real-time reading and writing for products across all devices
    match /products/{productId} {
      allow read, write: if true;
    }

    // Allow real-time reading and writing for daily posts & offers across all devices
    match /posts/{postId} {
      allow read, write: if true;
    }

    // Allow real-time reading and writing for notifications
    match /notifications/{notifId} {
      allow read, write: if true;
    }

    // Allow real-time user profiles
    match /users/{userId} {
      allow read, write: if true;
    }

    // Allow real-time site branding and settings
    match /settings/{settingId} {
      allow read, write: if true;
    }

    // Allow real-time customer and shopkeeper feedbacks & suggestions to superadmin
    match /feedbacks/{feedbackId} {
      allow read, write: if true;
    }
  }
}
